
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


#img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    object-fit: cover; /* Para cubrir el área sin distorsión */
}
#img2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para cubrir el área sin distorsión */
    
}

#img3 {
    position: absolute;
    top: 2%;
    left: 9%;
    width: 8%;
    height: 14%;
    object-fit: cover; /* Para cubrir el área sin distorsión */
    border-radius: 12px;
}


.texto {
    position: absolute;
    top: 20%;
    left: 13%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.texto2 {
    
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 12px;
}


 nav a{
    text-decoration: none;
    color: white;
    padding: 15px;
    
}
 nav{
    display: inline-block;
    text-align: center;
}
nav a:hover{
    background: #86bd4c;
}

@font-face{
    font-family: "Blippo Black";
    src: url("BlippoBlack.ttf");
}
#p1 {
    font-family: "Blippo Black";
    color: #86bd4c;
    font-size: 400%;
}
#p2 {
    font-family: "Blippo Black";
    color: #1e323f;
    font-size: 400%;
}

#p3 {

    color: #f6f7f8;
    font-size: 130%;
}


#H {
    font-family: "Blippo Black";
    color: #dbe4eb;
    font-size: 120%;
}
#el {
    font-family: "Blippo Black";
    color: #000000;
    font-size: 200%;
}



#J {
    font-family: "Blippo Black";
    color: #000000;
    font-size: 170%;
}


#H {
    background-color: #007bff;
            color: #fff;
            padding: 20px;
            text-align: center;
}




#im1{
    position: absolute;
    top: 52%;
    left: 59%;
    width: 30%;
    height: 50%;
    object-fit: cover; /* Para cubrir el área sin distorsión */
    border-radius: 12px;
}

#im2{
    position: absolute;
    top: 102%;
    left: 45%;
    width: 30%;
    height: 70%;
    object-fit: cover; /* Para cubrir el área sin distorsión */
    border-radius: 12px;
    filter: blur(2px);
}
#im3{
    position: absolute;
    top: 102%;
    left: 45%;
    width: 50%;
    height: 90%;
    object-fit: cover; /* Para cubrir el área sin distorsión */
    border-radius: 12px;
}




.texto-sobre-imagen {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 12px;
    width: 1000px; /* Ancho del contenedor */
    height: 450px;
    text-align: left; /* Alineación del texto al centro */
    overflow: scroll;
}

#xyz {
    -webkit-filter: drop-shadow(10px 10px 1px Black);
    filter: drop-shadow(10px 10px 0.5px Black);
} 


#H{
    margin: 40px;
    padding: 20px;
    text-align: center;
    border: 30px solid;
    border-image: url(Imagenes/geometric-animations-3-1.gif) 35%;
}